# DO NOT copy the Postgres variables below to Render dashboard!
# Render injects them automatically for production. Only use these for local development.

# Database Configuration (local development only)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=reminder
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# Application Configuration
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5000
APP_URL=http://localhost:5000

# Email Configuration (Gmail example)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=reminder.yar@gmail.com
SMTP_PASSWORD=icxr shop tlbt vlke
SMTP_FROM=reminder.yar@gmail.com

# Twilio Configuration
TWILIO_ACCOUNT_SID=AC457bdcab5b77209df4768425e8605054
TWILIO_AUTH_TOKEN=c9ee56c2f690fcaf9de0d4da0b76c495
TWILIO_FROM_PHONE=+18777044596 